[default]
#FileStorePath=target/data/gsx/client
FileLogPath=target/data/gsx/client/log
ConnectionType=initiator
StartTime=00:00:00
EndTime=00:00:00
#心跳时间s
HeartBtInt=30
#accesskey
SenderCompID=291eb0dc-d65e-4c30-9e56-fb77a60fbe89
UseDataDictionary=Y
#GSX测试服务器IP
#SocketConnectHost=10.200.174.57
#GSX开发服务器IP
#SocketConnectHost=10.200.173.189
#GBX测试服务器IP
SocketConnectHost=10.200.174.4
#本地开发环境IP
#SocketConnectHost=localhost
ReconnectInterval=3

[session]
DataDictionary=FIX44_GSX.xml
BeginString=FIX.4.4
#GSX测试服务器TCP端口
#SocketConnectPort=30010
#GSX开发服务器TCP端口
#SocketConnectPort=30033
#GBX测试服务器TCP端口
SocketConnectPort=1443
#GSX ID
TargetCompID=GSX
#GBX ID
#TargetCompID=GBX