<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<!-- 控制台、tomcat默认日志输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg) %n</pattern>
		</encoder>
	</appender>

	<!-- 业务打印设置 -->
	<logger name="com.coinsuper.fix.**" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="quickfix" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- DAO层打印 -->
	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="DEBUG" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />

	<root level="INFO">
		<appender-ref ref="console" />
	</root>

</configuration>